 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

 * {
     font-family: 'Poppins', sans-serif;
 }

 body {
     height: 1550px;
     background-color: #3A2121 !important;
 }

 /* navbar */
 .navbar-expand-lg {
     background-color: #1B3764 !important;
     height: 60px;
     margin-top: 0;

 }



 .nav-item {
     padding-top: 17px;

 }

 .btnLogin {
     border: none;
     width: auto;
     font-size: large;
     background-color: #4261b6 !important;
     color: #eee2e1 !important;


 }

 .BtnSigin {
     border: none;
     background-color: #463635 !important;
     width: auto;
     font-size: large;
     color: #eee2e1 !important;
     gap: 3px;
 }

 .bi-cart {
     color: #eee2e1;
     margin-top: 23px;

 }

 .bi-cart {
     cursor: pointer;

 }

 .navbar-nav button {
     background-color: transparent;
     border: none;
 }




 /* akhir navbar */



 /* gambar dan tittle */
 .card-img-overlay h1 {
     font-size: 50px;
     margin-top: 160px;

 }

 .card-text {

     font-family: 'Roboto';
     font-size: 29px;
     color: #CCB9B1 !important;
     margin-top: 10px;
 }

 .carousel-item img {

     width: 1400px;
     height: 520px;

 }

 /* akhir gambar dan tittle */


 /* button explore */
 .btnExploreUs {
     text-decoration: none;
     position: absolute;
     border: none;
     font-size: 18px;
     color: #fff;
     width: 160px;
     height: 30px;
     padding-bottom: 19px;
     text-align: center;
     text-align: center;
     background: linear-gradient(90deg, #03a9f4, #3A2121, #dad8ce, #03a9f4);
     background-size: 300%;
     border-radius: 30px;
     z-index: 1;
     padding: none;
     margin-top: 80px;

 }

 .btnExploreUs:hover {
     animation: ani 8s linear infinite;
     border: none;
 }

 @keyframes ani {
     0% {
         background-position: 0%;
     }

     100% {
         background-position: 400%;
     }
 }

 .btnExploreUs:before {
     content: '';
     position: absolute;
     top: -5px;
     left: -5px;
     right: -5px;
     bottom: -5px;
     z-index: -1;
     background: linear-gradient(90deg, #1f255f, #3A2121, #3A2121, #03a9f4);
     background-size: 300%;
     border-radius: 10px;
     transition: 1s;
     padding-bottom: none;
 }

 .btnExploreUs:hover::before {
     filter: blur(20px);
 }

 .btnExploreUs:active {
     background: linear-gradient(32deg, #03a9f4, #3A2121, #3A2121, #03a9f4);
 }


 /* akhir button explore */



 /* panel  */

 .info-panel {
     background-color: #1B3764 !important;
     border-radius: 20px;
     min-height: 115px;
     z-index: 1;
     margin-top: 458px !important;

 }

 .info-panel .col {
     margin-top: 30px;
     margin-right: 60px;

 }


 /* akhir panel */




 /* card */
 .card {
     width: 190px;
     height: 254px;
     padding: .8em;
     background: #f5f5f5;
     position: relative;
     overflow: visible;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 }

 .card-img {
     background-color: #ffcaa6;
     height: 40%;
     width: 100%;
     border-radius: .5rem;
     transition: .3s ease;
 }

 .card-info {
     padding-top: 10%;
 }

 svg {
     width: 20px;
     height: 20px;
 }

 .card-footer {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 10px;
     border-top: 1px solid #ddd;
 }


 .footerCard-2 {
     margin-top: 34px;
 }

 .footerCard-3 {
     margin-top: 34px;
 }

 .footerCard-4 {
     margin-top: 33px;
 }

 .footer {
     margin-top: 120px;
     background-color: #1B3764;
 }

 .footer-bottom {
     margin-top: 70px;
     background-color: #11153C;
 }

 /* akhir card */



 /*Text*/
 .text-title {
     font-weight: 900;
     font-size: 1.2em;
     line-height: 1.5;
 }

 .text-body {
     font-size: .9em;
     padding-bottom: 10px;
 }

 /*Button*/
 .card-button {
     border: 1px solid #252525;
     display: flex;
     padding: .3em;
     cursor: pointer;
     border-radius: 50px;
     transition: .3s ease-in-out;
 }

 /*Hover*/
 .card-img:hover {
     transform: translateY(-25%);
     box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }

 .card-button:hover {
     border: 1px solid #ffcaa6;
     background-color: #ffcaa6;
 }

 .priceCard {
     margin-top: 60px;

 }

 .card {
     font-size: small;
     background-color: #3A2121 !important;
     color: #dad8ce !important;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
         rgba(0, 0, 0, 0.12) 0px -12px 30px,
         rgba(0, 0, 0, 0.12) 0px 4px 6px,
         rgba(0, 0, 0, 0.17) 0px 12px 13px,
         rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }


 .garis {
     border-bottom: 2px solid wheat;
     text-align: center;
     width: 30%;
     margin-left: 800px;
     margin-top: 30px;
     color: #f5f5f5;
     height: 10px;
 }

 .garis-ke-2 {
     border-bottom: 2px solid wheat;
     text-align: center;
     width: 30%;
     margin-right: 50px;
     margin-bottom: 35px;
     color: #f5f5f5;
     height: 10px;
 }

 .tittleCuy h4 {
     text-align: center;
     max-width: 9000px;
     position: relative;
     color: #A0583C;
     margin: auto;
     margin-top: 50px;
 }

 .tittleCuy h4::before {
     content: "";
     display: block;
     width: 350px;
     height: 3px;
     background-color: #A0583C;
     position: absolute;
     right: 0;
     top: 50%;


 }

 .tittleCuy h4::after {
     content: "";
     display: block;
     width: 350px;
     height: 3px;
     background-color: #A0583C;
     position: absolute;
     left: 0%;
     top: 50%;

 }

 .card-body button {
     background-color: #11153C !important;
     color: wheat !important;
     margin-left: 70px;
     border: none;
     font-size: 13px;
     min-width: 100px;
     text-align: center;
     margin-top: 20px;
     margin-right: 80px
 }



 .footerBottom {
     background-color: #11153C;
     margin-top: 110px;
     min-height: 287px;
     padding-top: 10px;
 }

 .bi-facebook {
     margin-left: 250px;
     margin-top: 20px;
 }

 .bi-instagram {
     margin-left: 18px;
     margin-top: 20px;
 }

 .bi-twitter {
     margin-left: 18px;
     margin-top: 20px;
 }